.game {
    width: 40%;
    text-align: center;
    font-family: sans-serif;
    color:white;
    margin: auto;
    font-weight: 600;
}
.title{
    background: #f25;
    padding: 5px 0;
    margin: 5px 0;
}
span{
    color:#fa0;
}
.square{
    width: 80px;
    height: 80px;
    background-color: #f25;
    float: left;
    margin: 2px;
    font-size: 50px;
}
.square:hover{
    background-color: #000;
    cursor: pointer;
}